.nav-left li,
.nav-right li {
    display: inline;
    font-size: 20px;
    padding: 20px;
    float: left;
    list-style-type: none;
}

.nav-right {
    display: inline;
    float: right;
    list-style-type: none;
    margin: 0;

    .signin {}



}

.logo {
    padding-top: 150px;
    padding-left: 670px;
}

.search {

    padding-left: 585px;
    padding-top: 10px;
}

input[type=text] {
    border-radius: 10px;
    height: 30px;

}

.buttons {
    padding-top: 15px;
    padding-left: 700px;
}

.footer-left li,
.footer-right li {
    display: inline;
}