body {
    font-family: 'Open Sans', sans-serif;
}

.nav-left li {

    display: inline;
    position: relative;
    font-size: 14px;
    padding: 10px;
    float: left;
    list-style-type: none;
}

.nav-right li {
    display: inline;
    font-size: 14px;
    list-style-type: none;
    padding: 10px;

}

a {
    text-decoration: none;
    color: black;

}

.nav-right {
    display: inline;
    float: right;
    list-style-type: none;
    margin: 0;

}

.signin {
    background: blue;
    opacity: 80%;
    border-radius: 2px;
    width: 26px;
    height: 26px;
}



.logo {
    padding-top: 150px;
    padding-left: 670px;
}

.search {

    padding-left: 585px;
    padding-top: 10px;
}


.searchbutton,
.luckybutton {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    border-radius: 2px;
}

input[type=text] {
    border-radius: 10px;
    height: 30px;

}


.buttons {
    padding-top: 15px;
    padding-left: 700px;
}

.footer-left {
    float: left;
    padding-top: 560px;
    font-size: 14px;


}


.footer-right {
    float: right;
    padding-top: 560px;
    font-size: 14px;
}

.footer-left li,
.footer-right li {
    display: inline;
    list-style-type: none;
}